{% extends 'base2.html' %}

{% block tittle%} Pet list {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 "> Pet List</h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Units</th>
                <th scope="col">Weight</th>
                <th scope="col">Breed</th>
                <th scope="col">Species</th>
                <th scope="col">Owner</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
            <tr>

                <th scope="row">{{pet.id}}</th>
                <td>{{pet.name}}</td>
                <td>{{pet.age}}</td>
                <td>{{pet.units}}</td>
                <td>{{pet.weight}}</td>
                <td>{{pet.breed}}</td>
                <td>{{pet.species}}</td>
                <td>{{pet.owner }}</td>
                <td>{{pet.gender }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}