{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block tittle%} Add pet {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" id="content-register">
                <div class="card-body">
                    <h3 class="text-center " style="color:dimgrey "> Register Your Pet</h3>
                    <hr>
                    <form method="POST">
                        {% if user.id == owner %}
                            {% csrf_token %}
                            {{ pet_form | crispy }}
                             <input type="submit" name="submit" class="btn btn-success btn-md" value="Add">
                            <a class="btn btn-dark" href="{% url 'petList' user.id%}"> Cancel </a>
                        {% else %}
                        <div class="bg-light text-danger ">
                            <h3>You can't register a pet to another owner </h3>
                            <a class="btn btn-secondary" href="{% url 'petList' user.id%}"> Go back </a>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
