{%load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>{% block tittle %} Login {% endblock tittle %}</title>
</head>

<body class="hola-body">
    {%block body%}
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="POST">

                            <h3 class="text-center text-info">Welcome to PetHouse</h3>
                            <div class="form-group">
                                {% csrf_token%}
                                {{ form | crispy}}
                            </div><button type="submit" name="submit" class="btn btn-success btn-md" value="submit">Login</button>
                            <div class="form-group">
                                </span></label><br>
                                
                            

                            <div id="register-link" class="text-right">

                            <a href="{% url 'register_user' %}" class="text-info ">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock body%}
</body>

</html>








