.hola-body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../img/veterinaria2.jpg);
  background-size: cover;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: cover;
  border: 1px solid #9C9C9C;
  border-radius: 10px;
  background-color: aqua;
  opacity: 0.9;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}



#content-register{
  opacity: 0.9;
  border: 1px solid black;
  border-radius: 10px;
  background-color: aqua;
  
}

.form-group{
  margin-top:10px;
  margin-bottom: 10px;
}

#user-list{
  border: 1px solid black;
  border-radius: 10px;
}


:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #ED6436;
  --secondary: #65C178;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #F2F2F4;
  --dark: #181818;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito Sans", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
