{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{% block tittle %} Home {% endblock tittle %}</title>
    {% block css %}
    {% endblock css %}
</head>

<body class="hola-body" >
    {%block navbar%}
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home/">PetHouse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            My Pets
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{%  url 'petRegister' user.id%}">Add Pet</a></li>
                            <li><a class="dropdown-item" href="{% url 'petList' user.id %}">View Pets</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Appointment
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{% url 'create_appoint' %} ">Add Appointment</a></li>
                            <li><a class="dropdown-item" href="{%  url 'list_appoint' user.id%}">View Appointments</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a id="profile-nav" class="nav-link justify-content-between align-items-center" href="{%url 'list_user'%}">
                            User List
                    
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="profile-nav" class="nav-link justify-content-between align-items-right" href="{%url 'view_user'%}">
                            @{{user.username}}
                            
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="logout-nav" class="nav-link justify-content-between align-items-right" href="{% url 'logout' %}">
                            Logout
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    {%endblock navbar%}

        {% block content %}

        <h2 class="text-center">Welcome to PetHouse {{user.first_name}}</h2>
        <h3 class="text-center">Welcome to PetHouse {{user.id}}</h3>

        {% endblock content %}

    {% block js %}
    {% endblock js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>




</html>

