{% extends 'base2.html' %}
{%load static%}

{% block tittle%} User list {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:dimgrey "> User list</h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9;color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nickname</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th class="text-center" scope="col">Options</th>
                
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <th scope="row">{{u.id}}</th>
                <td>{{u.username}}</td>
                <td>{{u.first_name}}</td>
                <td>{{u.last_name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.address}}</td>
                <td>
                    {% if perms.users.change_user%}
                    <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'update_user' u.id %}">Edit</a>
                    {% endif %}
                    {% if perms.users.delete_user%}
                    <a class="btn btn-danger" href="{% url 'delete_user' u.id %}">Delete</a>
                    {% endif %}
                    <a class="btn btn-success" href="{% url 'view_specific_user' u.id %}">View</a>
                </td>
                

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}