{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block tittle%} Update User {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" id="content-register">

                {% if user.id == u or perms.users.change_user%}
                <div class="card-body">
                    
                    <h3 class="text-center " style="color:dimgrey "> Update data</h3>
                    <hr>
                    <form action="" method="POST">

                        {% csrf_token%}
                        {{ update_form | crispy }}

                        <input type="submit" name="submit" class="btn btn-success btn-md" value="submit">
                        <a class="btn btn-dark" href="{% url 'view_user'%}"> Cancel </a>
                    </form>
                </div>
                {%else%}
                    <h2>You don't have permission to this information</h2>
                {%endif%}
            </div>
        </div>
    </div>
</div>

{% endblock content %}