{%extends 'base2.html' %}


{%block tittle%}View User {%endblock%}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" id="content-register">
                {%if item%}
                <div class="card-body">
                    <h2 class="text-center " style="color:dimgrey ">{{item.first_name}} {{item.last_name}}'s view</h2>
                    <hr>
                    <h3>Data User</h3>
                    <hr>
                    Username: <h4>{{item.username}}</h4>
                    <hr>
                    Email: <h4>{{item.email}}</h4>
                    <hr>
                    Phone: <h4>{{item.cell_phone}}</h4>
                    <hr>
                    Address: <h4>{{item.address}}</h4>
                    <hr>
                    <a class="btn btn-info" href="{% url 'list_user'%}"> Back </a>
                </div>
                {% endif %}
                {%if error%}
                    <h2>User doesn't exits</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}